Olá {{ organizer }},

<p>Você tem uma nova inscrição em um de seus eventos, confira os detalhes abaixo:</p>

<p>
  <strong>Inscrito:</strong> {{ subscriber }} <br />
  <strong>Evento:</strong> {{ meetup }} <br />
</p>

